<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">	
	
<head>
	

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yuriy Lukashov - blog engine">
    <meta name="author" content="Yuriy Lukashov">

    <title>Yuriy Lukashov - blog engine</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="<% request.uri_base %>/css/styles_form.css" />    
	
	<script src="//use.edgefonts.net/bebas-neue.js"></script>

	<link rel="stylesheet" href="<% request.uri_base %>/css/font-awesome.min.css" />
	
	<script type="text/javascript" src="<% request.uri_base %>/javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	
	<!-- Javascripts -->       
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>

	
</head>


<body>
   
    <% content %>
   
	<!-- Footer -->

	    
</body>
</html>
