<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">	
	
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yuriy Lukashov - blog engine">
    <meta name="author" content="Yuriy Lukashov">

    <title>Blog engine Admin panel</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<% request.uri_base %>/javascripts/ext/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="<% request.uri_base %>/javascripts/ext/resources/css/app.css">

    <script type="text/javascript" src="<% request.uri_base %>/javascripts/ext/ext-all.js"></script>

    <script type="text/javascript" src="<% request.uri_base %>/javascripts/app.js"></script>
    
            <style>
            .x-grid-checkheader
            {
                background: url('resources/images/unchecked.gif') no-repeat center center;
            }
            .x-grid-checkheader-checked
            {
                background: url('resources/images/checked.gif') no-repeat  center center;
            }
        </style>
    
    

</head>


<body>
   
    <% content %>
   
	    
</body>
</html>
